.header__menu {
  padding: .125vw 0 0 0;
  list-style-type: none;
  box-sizing: border-box;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vw;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
}