.header__heading {
  font-family: 'Aleo-VariableFont_wght';
  font-size: 5.4vw;
  font-weight: 700;
  line-height: 6.8vw;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  display: block;
  width: 80%;
  min-height: fit-content;
  padding: 2.15% 8.3%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .header__heading {
    display: none;
  }
}