.header__comment {
  font-family: 'Aleo-VariableFont_wght';
  font-size: 1.39vw;
  font-style: italic;
  font-weight: 700;
  line-height: 1.8vh;
  letter-spacing: -.4px;
  text-align: left;
  color: #FFFFFF;
  padding: 0 8.3%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .header__comment {
display: none;
  }
}
