.header__hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__hamburger {
    width: 9vw;
    height: 8vw;
    background-image: url("../../../images/hamburger.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    display: block;
    margin: 6px 4px 0 0;
    align-self: center;
  }
}