.header__search {
width: 61.9%;
height: 6.6vw;
background: #FFFFFFB2;
border-radius: 15px;
margin: 3.75vw 8.3% 2.6vw 8.3%;
display: flex;
justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header__search {
    margin: 0 1vw 0 3vw;
    width: 91.9%;
    position: absolute;
    bottom: 15.8vw;
    left: 1vw;
    height: 12.3vw;
  }
}
