.stories {
  width: 100%;
  height: fit-content;
  position: relative;
  z-index: -1;
  background-image: url('../../images/stories.png');
  background-position: 100% 100%;
  display: grid;
  padding-bottom: 6.25rem;
}

@media screen and (max-width: 768px) {
  .stories {
    padding-bottom: 20vw;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }
}