.header__input {
margin: 0;
padding: 0 0 0 2.7vw;
font-family: Aleo-VariableFont_wght;
font-size: 1.68vw;
font-style: italic;
font-weight: 400;
line-height: 29px;
letter-spacing: -1px;
text-align: left;
background: none;
color: #F2785C;
border-width: 0;
width: 36vw
}

.header__input:focus-visible {
  outline: none;
}

.header__input::placeholder {
  color: #F2785C;
}
input::-webkit-input-placeholder {
  color: #F2785C;
}

input:-moz-placeholder {
  color: #F2785C;
}

input::-moz-placeholder {
  color: #F2785C;
}

input:-ms-input-placeholder {
  color: #F2785C;
}

input::-ms-input-placeholder {
  color: #F2785C;
}

@media screen and (max-width: 768px) {
  .header__input {
    width: 64vw;
    font-size: 3.6vw;
    padding: 0 0 0 .8rem;
    letter-spacing: -.5px;
  }
}