.steps__icon-wrapper {
  width: fit-content;
  height: fit-content;
}

.steps__icon-wrapper:first-of-type {
  padding-right: 6%;
}

@media screen and (max-width: 768px) {
  .steps__icon-wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 0%; 
}}
