.stories__table {
  width: 83.47%;
  height: fit-content;
  margin: 0 auto;
  z-index: 3;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: 1.875rem;
  column-gap: 2.78vw;
  padding: 2.5rem 0 2.4rem 0;
}

@media screen and (max-width: 768px) {
  .stories__table {
    width: 92.3%;
    padding: 2.5vw 0;
    row-gap: .94rem;
    column-gap: 2.4vw;
  }
}