.slider__switches {
  width: 5.5vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0 2.45rem 0;
}

@media screen and (max-width: 768px) {
  .slider__switches {
    padding: 0;
    width: fit-content;
    position: relative;
    top: -20px;
    left: 0;
    z-index: 5;
  }
}