.header__item {
  width: fit-content;
  padding: 0;
  margin-right: 2.9vw;
  float: left;
  font-family: RedHatText-VariableFont_wght;
  font-size: 1.11vw;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.header__item:last-of-type {
  margin-right: 0;
}
/*
@media screen and (max-width: 1280px) {
  .header__item {
    font-size: 15px;
  }
}*/