.stories__background-opacity {
width: 100%;
height: 95.4%;
background: #FFFFFFB2;
position: absolute;
left: 0;
top: 0;
z-index: 2;
}

@media screen and (max-width: 768px) {
  .stories__background-opacity {
    height: 90.6%;
  }
}