.footer__links {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 1.2vw;
  margin-right: 8.3vw ;
  z-index: 2;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .footer__links {
    margin: 0 auto;
    gap: 5vw;
    padding-left: 2vw;
  }
}