.slider__button {
  background-color: #124C5F;
  box-shadow: 0px 2px 3px 0px #0D606F29;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 10px;
  margin-left: 2.6vw;
  font-family: RedHatText-VariableFont_wght;
  font-size: 1.6vw;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  z-index: 2;
  position: relative;
  width: 16.1vw;
  height: 4.3vw;
  letter-spacing: 0px;
  padding-left: 3.5rem;
}

@media screen and (max-width: 768px) {
  .slider__button {
    width: 24vw;
    height: 7.9vw;
    font-size: 14px;
    padding: 0 0 0 16px;
    margin: 0 auto;
  }
}

