.slider__image-wrapper {
  width: fit-content;
  height: fit-content;
  position: relative;
  z-index: 3;
}


@media screen and (max-width: 768px) {
  .slider__image-wrapper {
    width: 100%;
    display: grid;
  }
}