.slider__box {
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 0;
  left: -38vw;
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .slider__box {
    width: fit-content;
    left: 0;
    display: block;
    width: 100%;
  }
}