.header__hamburger-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__hamburger-menu {
    position: absolute;
    width: 41.8vw;
    height: fit-content;
    top: 9vw;
    right: 0;
    border-radius: 10px;
    background: #F2785C;
    box-shadow: 0px 4px 3px 0px #0D606F40;
    z-index: 1;
    list-style-type: none;
    padding: 11.3vw 3.5vw 5.2vw 0;
  }
}