.header__button-search {
  width: 16vw;
  height: 4.2vw;
  background-color: #124C5F;
  border-radius: 10px;
  margin: 1.05rem 1.1rem 1.05rem 0;
  padding-top: 0;
  box-sizing: border-box;
  font-size: 24px;
  letter-spacing: 0;
}

@media screen and (max-width: 1280px) {
  .header__button-search {
    font-size: 20px;
  }
}

@media screen and (max-width: 1025px) {
  .header__button-search {
    font-size: 16px;
    width: 18vw;
    margin: .5rem 1.1rem .5rem 0;
  }
}


@media screen and (max-width: 768px) {
  .header__button-search {
    font-size: 13px;
    width: 23vw;
    height: calc(.326 * 23vw);
    margin: 2.3vw .6rem 2.3vw 0;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .header__button-search {
    font-size: 15px;
  }
}

@media screen and (max-width: 710px) {
  .header__button-search {
    font-size: 14px;
  }
}

@media screen and (max-width: 660px) {
  .header__button-search {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 610px) {
  .header__button-search {
    font-size: 13px;
  }
}

@media screen and (max-width: 560px) {
  .header__button-search {
    font-size: 12.5px;
  }
}
@media screen and (max-width: 560px) {
  .header__button-search {
    font-size: 12px;
  }
}

@media screen and (max-width: 510px) {
  .header__button-search {
    font-size: 11.5px;
  }
}

@media screen and (max-width: 460px) {
  .header__button-search {
    font-size: 11px;
  }
}