.slider__arrow {
  display: none;
}

@media screen and (max-width: 768px) {
  .slider__arrow {
    width: 4vw;
    height: 6vw;
    background-image: url('../../../images/arrow-left.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 6;
    top: 0;
    left: 3%;
    position: absolute;
    display: block;
    opacity: .5;
  } 

  .slider__arrow:hover {
    opacity: 1;
  } 
}