.header__top {
width: 100%;
height: fit-content;
display: flex; 
justify-content: space-between;
padding: 1.1vw 8.3% 1.4vw 8.3%;
background: #F2785CB2;
box-shadow: 0px 4px 4px 0px #0D606F80;
}

@media screen and (max-width: 768px) {
  .header__top {
    padding: 2.3rem 4.2% 0 3.9%;
    background: none;
    box-shadow: none;
  }
}
